.btn-radius{
	border-radius: 30px;
    padding: 8px 50px;
    border: none;
    box-shadow: none;
    background-color: white;
    color:$primary-dark-blue;
}

.btn-rect{
	border: none;
    box-shadow: none;
    border-radius: 0px !important;
    padding: 5px 15px;
    min-width: 120px;
}

.btn-non-bg{
	box-shadow: none;
	border-radius: 0px !important;
    padding: 5px 15px;
    background-color: transparent;
	&[disabled] {
    	// background: $primary-dark-gray;
    	border-color: #888888 !important;
    	color: #888888 !important;
	}
}

.btn-round{
	border-radius: 40px !important;
    width: 45px;
    height: 45px;
}