 <section class="main-contrainer">
	<div class="sub-dash-app-container" >
		

		<div class="app-item-container">
			<div class="row space10">
				<div class="col-md-12">
					<div class="item-blank" style="justify-content: space-around !important;">
						<button ng-click="importClick()">Import</button>
						<input ng-clock ng-show="node" name="import" type="file" id="importClick" onchange="angular.element(this).scope().changeImport(this)">
					</div>
				</div>

				

			</div>	
			
		</div><!--  end app-item-container-->	
	</div>
</section>