



	<div class="login-container" ng-cloak >
		<div class="row space0">
			<div class="col-md-6">
				<!-- <div class="image-left" style="background-image: url('/images/login-image.jpg')">
				</div> -->
			</div>
			<div class="col-md-6">
				<div class="login">
					<form class="login-form" name="frm_login" novalidate="">
						<div class="image">
							<!-- <img class="image-item" src="/images/logo/alertify-logo-vertical.png"> -->
						</div>

						<div class="inputs-group">
							<input type="text" class="input-tran box-white-border-btm mar-btm-15" placeholder="Name or Email" ng-model="user.email">
							<div class="input-forget mar-btm-30">
								<input type="password" class="input-tran box-white-border-btm" placeholder="Password" ng-model="user.password">
								<a class="" href="">forget password?</a>
							</div>
						</div>

						<div class="signup-row">
							<button type="" class="btn-radius btn-login" ng-click="login()">SIGN IN
								<img ng-cloak ng-show="isLogining" src="/images/loading-spin-blue.svg" class="btn-ele-loading" alt="loading spinner">
							</button>
						<!-- 	<h6 class="remember-title">i am not a member yet.   <a href="/register">SIGN UP</a></h6>  -->
						</div>
					</form>
					

					<!-- <div class="footer">
						©2016 FlexiTech. All Rights Reserved
					</div> -->
				</div>
			</div>
		</div>

	</div><!--  end app-item-container-->	

