

// primary color
$primary-black: #444;
$primary-green: #1B931C;
$primary-light-red:#E25041;
$primary-red:#d03020;
$primary-gray:#F3F3F3;
$primary-dark-gray: #E3E3E3;

$primary-blue: #29659D;
$primary-dark-blue: #225587;
$primary-orange:#F5A623;

$primary-white-a: rgba(255, 255, 255, 0.07);


$text-color: #4A4A4A;
$text-gray: #9B9B9B;


